/* Переменные */
:root {
  --color-black: #000000;
  --color-gray: #333333;
  --color-white: #FFFFFF;
  --color-red: #FF5757;
  --color-brown: #756157;
  --color-blue: #82B3D3;
  --color-green: #7DB54F;
  --color-dark-blue: #3F5E72;
  --color-ligth-gray: #E5E5E5;
  --color-ultra-ligth-gray: #F2F2F2;
}


/* Подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Основные стили */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--color-ultra-ligth-gray);
  color: var(--color-gray);
  font-size: 22px;
  line-height: 1.2;
  margin: 0;

  input {
    font-family: inherit;
  }

  select {
    font-family: inherit;
  }
}

.site-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-main {
  flex-grow: 1;
}

.title-h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  color: var(--color-black);
}

.title-h3 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  color: var(--color-black);
}

.a-reset-style {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.ul-reset-style {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.btn {
  color: var(--color-white);
  background-color: var(--color-brown);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  display: block;
  transition: 0.3s;
}


.btn-type-1 {
  background-color: var(--color-brown);
}

.btn-type-1:hover,
.btn-type-1:focus {
  background-color: #615048;
  cursor: pointer;
}

.btn-type-1:active {
  background-color: var(--color-brown);
  color: rgba(255, 255, 255, 0.3);
}

.btn-type-2 {
  background-color: var(--color-blue);
}

.btn-type-2:hover,
.btn-type-2:focus {
  background-color: #68A2CA;
  cursor: pointer;
}

.btn-type-2:active {
  background-color: var(--color-blue);
  color: rgba(255, 255, 255, 0.3);
}

.btn-type-3 {
  background-color: var(--color-green);
}

.btn-type-3:hover,
.btn-type-3:focus {
  background-color: #6C9E42;
  cursor: pointer;
}

.btn-type-3:active {
  background-color: var(--color-green);
  color: rgba(255, 255, 255, 0.3);
}

.btn-type-1:disabled,
.btn-type-2:disabled,
.btn-type-3:disabled {
  color: var(--color-white);
  background-color: var(--color-ligth-gray);
  cursor: default;
}


/* Точечные стили */

.nav {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  height: 64px;
  overflow: visible;
  z-index: 2;
  position: relative;
}

.logo img {
  display: block;
}

.nav-list-pages-link {
  display: flex;
  max-width: 700px;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.nav-list-pages-link .nav-item {
  position: relative;
}

.nav-link-active::after {
  content: "";
  background-color: var(--color-brown);
  width: calc(100% - 32px);
  height: 2px;
  position: absolute;
  left: 16px;
  bottom: -1px;
}

.nav-list-user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-list-user .nav-link {
  display: grid;
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; */
  width: 44px;
  height: 50px;
}

.search-link {
  background: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.favorite-link {
  background: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.favorite-count {
  display: block;
  background-color: var(--color-green);
  border-radius: 100vw;
  font-size: 10px;
  color: var(--color-white);
  padding: 4px;
  text-align: center;
  height: 20px;
  grid-column: 1;
  grid-row: 1;
  margin: 5px 4px auto auto;
  width: 20px;
}

.nav-list-user .btn-header-popup {
  font-size: 16px;
  line-height: 1.4;
  padding: 8px;
  width: 160px;
  display: block;
  margin-left: 20px;
}

.nav-list-pages-link .nav-link {
  padding: 20px 16px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--color-black);
  display: block;

}

.welcome {
  background-color: var(--color-black);
  background: url("../images/index/devider.svg"), url("../images/hero-background.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  text-align: center;
  padding: 51px 70px 82px;
}

.advantages {
  text-align: center;
  padding-top: 69px;
}

.advantages-title {
  width: 620px;
  margin: 0 auto 25px;
}

.advantages-item {
  width: 400px;
}

.advantages-description {
  margin: 0 auto 90px;
  padding: 0 70px;
}

.advantages-item-description {
  font-weight: 400;
  margin: 29px 0 0;
  font-size: 18px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 112px 0;
}

.advantages-img-item,
.advantages-img-item-reverse {
  padding: 0;
  flex-direction: row;
  background-color: var(--color-blue);
  display: flex;
  width: auto;
  color: var(--color-white);
}

.advantages-img-item .advantages-item-description,
.advantages-img-item-reverse .advantages-item-description,
.advantages-img-item .title-h3,
.advantages-img-item-reverse .title-h3 {
  color: var(--color-white);
}

.advantages-img-item-reverse .advantages-item-wrapper {
  order: 2;
}

.advantages-item-third:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-third {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-img {
  display: block;
  height: 100%;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-description {
  width: 230px;
}

.advantages-item-title {
  width: 175px;
}

.advantages-item-title::after {
  content: "";
  display: block;
  margin: 29px auto 0;
  width: 60px;
  height: 2px;
  background-color: var(--color-black);
  opacity: 0.3;
}

.advantages-img-item .advantages-item-wrapper,
.advantages-img-item-reverse .advantages-item-wrapper {
  padding: 102px 0;
}

.advantages-img-item .advantages-item-title::after {
  background-color: var(--color-white);
}

.advantages-item-wrapper {
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.service {
  padding-top: 69px;
  text-align: center;
}

.service-title {
  width: 505px;
  margin: 0 auto 20px;
}

.service-description {
  padding: 0 70px;
  margin: 0 auto 64px;
  font-size: 22px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 82px 0;
}

.service-item:nth-child(2n) {
  background-color: transparent;
}


.service-item-title,
.service-item-description {
  width: 230px;
}

.service-item-title::before {
  content: "";
  display: block;
  width: var(--service-width);
  height: var(--service-height);
  background: var(--service-bg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 30px;
}

.service-item-title-home {
  --service-width: 75px;
  --service-height: 72px;
  --service-bg: url("../images/index/service-icon-home.svg");
}

.service-item-title-food {
  --service-width: 74px;
  --service-height: 70px;
  --service-bg: url("../images/index/service-icon-food.svg");
}

.service-item-title-box {
  --service-width: 74px;
  --service-height: 70px;
  --service-bg: url("../images/index/service-icon-box.svg");
}

.service-item-description {
  font-size: 18px;
  margin: 30px 0 0;
}

.interest {
  text-align: center;
  padding: 96px 70px;
}

.interest-title,
.mailing-title {
  margin: 0 auto;
}

.interest-description {
  width: 592px;
  margin: 20px auto 54px;

}

.interest-link {
  font-size: 20px;
  padding: 8px;
  margin: 0 auto;
  width: 376px;
  line-height: 1.55;
}

.mailing {
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  background: url("../images/footer-background.jpg");
  background-size: cover;
  padding: 96px 70px 104px;
}

.mailing-title {
  color: var(--color-white);
}

.mailing-description {
  font-size: 22px;
  width: 475px;
  margin: 20px auto 54px;
}

.mailing-form {
  display: flex;
  margin: 0 auto;
  width: 684px;
}

.mailing-form-submit {
  font-size: 20px;
  background-color: var(--color-blue);
  line-height: 1.5;
  padding: 8px;
  width: 232px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mailing-form-email {
  padding: 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 100%;
  font-size: 18px;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.subscribe_label {
  flex-grow: 1;
  display: grid;
  align-items: center;
}

.mailing-label {
  opacity: 0.6;
  color: var(--color-black);
  transition: 0.3s;
  cursor: text;
  user-select: none;
  grid-column: 1;
  grid-row: 1;
  text-align: left;
  padding-left: 20px;
}

.mailing-form-email:not(:placeholder-shown) ~ .mailing-label,
.mailing-form-email:focus ~ .mailing-label {
  opacity: 0;
}

.mailing-form-email::placeholder {
  opacity: 0;
}

.under-line-phone {
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  font-style: normal;
  display: block;
  max-width: 400px;
  color: var(--color-black);
  transition: 0.3s;
}
.under-line-phone:hover, .under-line-phone:focus{
  color: #756157;
  cursor: pointer;
}
.under-line-phone:active{
  opacity: 0.5;
}

.page-under-line {
  padding: 40px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.under-line-link {
  display: block;
  width: 47px;
  height: 40px;
}
.under-line-link:hover::before, .under-line-link:focus::before{
  background: #68A2CA;
}
.under-line-link:active:before{
 opacity: 0.3;
}

.under-line-link::before {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  mask-image: var(--social-link);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: var(--social-size);
  background: var(--color-blue);
}

.social-vk {
  --social-link: url("../images/social/vk.svg");
  --social-size: 24px 14px;
}

.social-tg {
  --social-link: url("../images/social/tg.svg");
  --social-size: 18px 15px;
}

.social-yt {
  --social-link: url("../images/social/you-tube.svg");
  --social-size: 22px 17px;
}



.under-line-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Страница каталога */

.sorting-block {
  background-color: var(--color-black);
  background: url("../images/catalog-hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  padding: 35px 70px 70px;
}

.sorting-block-title {
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 8px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  margin-bottom: 40px;
}


.filters-form {
  display: flex;
  justify-content: space-between;
}

.filters-group-caption {
  font-weight: 700;
  color: var(--color-white);
  font-size: 20px;
  padding: 0;
  margin-bottom: 32px;
}

.filters-group-label {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.filter-group-item:not(:last-child) {
  margin-bottom: 16px;
}

.filters-group {
  margin: 0;
  border: none;
  padding: 0;
}

.filters-cost .filter-input {
  color: var(--color-black);
  font-size: 18px;
  line-height: 24px;
  padding: 12px 45px 12px 20px;
  grid-row: 1;
  grid-column: 1;
}

.filters-cost .filters-group-caption {
  margin: 0 0 32px;
  grid-column: span 2;
}

.input-min-price,
.input-max-price {
  border-radius: 0;
  border: none;
}

.input-min-price {
  margin-right: 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.range-group-label {
  margin-top: 32px;
}

.input-max-price {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filters-cost .filters-group-label {
  display: grid;
}

.filters-cost .filter-input {
  width: auto;
}

.range-group-label {
  grid-column: span 2;
  width: 100%;
}

.filter-control-input {
  width: 100%;
}

.filters-cost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  width: 288px;
}

.price-label {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
  opacity: 0.3;
  grid-row: 1;
  grid-column: 1;
  margin: 0 20px 0 auto;
}

.btn-send,
.btn-reset {
  font-size: 16px;
}

.filter-checkbox {
  margin: 0 16px 0 0;
  width: 20px;
  height: 20px;
}

.sort-select {
  color: var(--color-gray);
}

.products-header {
  text-align-last: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 16px 20px;
  outline: 1px solid var(--color-ligth-gray);
  border-radius: 4px;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
}

.product-item-img {
  display: block;
  object-fit: cover;
}

.products-item-link {
  grid-column: 1 / -1;
  display: block;
  width: 100%;
}

.products-item-container-img {
  height: 212px;
}

.product-item-title {
  grid-column: 1 / -1;
  font-size: 24px;
}

.product-item-type,
.product-item-price {
  color: var(--color-gray);
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.product-item-price {
  text-align: right;
}

.product-item-more,
.product-item-add-favorite,
.product-item-rating {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 8px;
}


.product-item-rating {
  font-weight: 400;
  color: var(--color-gray);
  margin: 0;
}

.inner-footer .mailing {
  background: none;
}

.inner-footer .mailing-form-email {
  background-color: var(--color-ultra-ligth-gray);
}

.inner-footer .mailing-title {
  color: var(--color-black);
}

.inner-footer .mailing-description {
  color: var(--color-gray);
}

.product-item-add-favorite {
  background-color: var(--color-blue);
}

.product-item-rating {
  background-color: var(--color-ultra-ligth-gray);
  border-radius: 4px;
}

.products-pagination-link,
.products-pagination-points {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  color: var(--color-white);
  background-color: var(--color-blue);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 5px;
  transition: 0.3s;
}

.products-pagination-item:not(:last-child) .products-pagination-link,
.products-pagination-points {
  margin-right: 8px;
}

.products-pagination-points {
  background-color: transparent;
  color: var(--color-black);
  font-size: 22px;
  line-height: 26px;
}

.products-pagination-link-active {
  color: var(--color-black);
  background-color: var(--color-ultra-ligth-gray);
}

.btn-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.btn-send {
  background-color: var(--color-blue);
  line-height: 20px;
  padding: 8px;
  width: 191px;
}

.btn-reset {
  width: 191px;
  padding: 8px;
  background-color: transparent;
  margin-top: 32px;
}
.btn-reset:hover {
  opacity: 0.6;
  cursor: pointer;
}
.btn-reset:active {
  opacity: 0.3;
}
.btn-reset:disabled{
  opacity: 0.1;
  cursor: default;
}

.products {
  padding: 50px 70px 60px;
}

.product-item-favorite-active {
  background-color: var(--color-green);
}

.products-header-select {
  padding: 14px 20px;
  border: 1px solid var(--color-ligth-gray);
  border-radius: 4px;
  width: 292px;
  font-size: 18px;
  line-height: 21px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0 80px;
  gap: 20px;
}

.products-pagination {
  display: flex;
}

.breadcrumbs-home {
  display: block;
  width: 13px;
  height: 15px;
  background: url("../images/icons/home.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.breadcrumbs-item:first-child:before {
  display: none;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-item::before {
  content: "";
  display: block;
  width: 8px;
  height: 20px;
  background: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 10px;
}


.breadcrumbs-link{
  transition: 0.3s;
}
.breadcrumbs-link:hover{
  opacity: 0.6;
  cursor: pointer;
}
.breadcrumbs-link:active, .breadcrumbs-link:disabled{
  opacity: 0.3;
}
.breadcrumbs-link:disabled{
  cursor: default;
}

.breadcrumbs-link-active:hover, .breadcrumbs-link:active{
cursor: default;
opacity: 1;
}
.products-btn-view-list {
  display: flex;
  align-items: center;
}

.btn-view-link {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid var(--color-ligth-gray);
  border-radius: 4px;
  background: var(--btn-view-bg);
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}
.btn-view-link:hover, .btn-view-link:hover{
  border: 2px solid var(--color-black);
  cursor: pointer;
}

.btn-view-link-active {
  border: 2px solid var(--color-black);
}
.btn-view-link-active:hover {
  cursor: default;
}

.btn-view-item:not(:last-child) {
  margin-right: 8px;
}

.btn-view-link-grid {
  --btn-view-bg: url("../images/icons/view-column.svg");
}

.btn-view-link-column {

  --btn-view-bg: url("../images/icons/view-slider.svg");
}

.btn-view-link-list {
  --btn-view-bg: url("../images/icons/view-list.svg");
}

.developer-logo svg path{
  transition: 0.3s;
}
.developer-logo:hover svg path, .developer-logo:focus svg path{
  fill: var(--color-brown);
}
.developer-logo:active svg path{
  opacity: 0.3;
}
